<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081799820560-t9eurh48rshq5bnear3t5g9q2r5bpej8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081799820560-t9eurh48rshq5bnear3t5g9q2r5bpej8</string>
	<key>API_KEY</key>
	<string>AIzaSyCgVP3byUv2ybPZtPn33LuVG1Ai0zrqud0</string>
	<key>GCM_SENDER_ID</key>
	<string>1081799820560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart</string>
	<key>PROJECT_ID</key>
	<string>my-learning-project-cb451</string>
	<key>STORAGE_BUCKET</key>
	<string>my-learning-project-cb451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081799820560:ios:12e84f27724495f6611195</string>
</dict>
</plist>